@import url(blueprint/layout.css);
.column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html .column {
  overflow-x: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .column {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 96.66667px;
  }
  * html .column {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .column {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 150px;
  }
  * html .column {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .column {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 246px;
  }
  * html .column {
    overflow-x: hidden;
  }
}

.column3 {
  margin-right: 0;
}
