@media screen and (min-width: 2560px) and (max-width: 99999px) {
  .desktop-xw {
    display: block;
    background-color: #d1d1d1;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2559px) {
  .desktop-hd {
    display: block;
    background-color: #bbbbbb;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .desktop-w {
    display: block;
    background-color: #a5a5a5;
  }
}
@media screen and (min-width: 568px) and (max-width: 599px) {
  .iphone5-l {
    display: block;
    background-color: #9a9a9a;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .desktop {
    display: block;
    background-color: #8f8f8f;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ipad-p {
    display: block;
    background-color: #797979;
  }
}
@media screen and (min-width: 720px) and (max-width: 767px) {
  .tablet-10 {
    display: block;
    background-color: #6e6e6e;
  }
}
@media screen and (min-width: 568px) and (max-width: 599px) {
  .iphone5-l {
    display: block;
    background-color: #636363;
  }
}
@media screen and (min-width: 600px) and (max-width: 719px) {
  .tablet-7 {
    display: block;
    background-color: #585858;
  }
}
@media screen and (min-width: 480px) and (max-width: 567px) {
  .iphone4-l {
    display: block;
    background-color: #4d4d4d;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .iphone-p {
    display: block;
    background-color: #424242;
  }
}
@media screen and (min-width: 0px) and (max-width: 319px) {
  .mini {
    display: block;
    background-color: #373737;
  }
}
