.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.full-width,
header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
* html .full-width, * html
header {
  overflow-x: hidden;
}

.column1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html .column1 {
  overflow-x: hidden;
}

.column2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html .column2 {
  overflow-x: hidden;
}

.column3 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
* html .column3 {
  overflow-x: hidden;
}

.column1, .column2, .column3 {
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    width: 302px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header,
  .column1,
  .column2,
  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 302px;
  }
  * html .full-width, * html
  header, * html
  .column1, * html
  .column2, * html
  .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 464px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 464px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 148px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 148px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 148px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 752px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 752px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 244px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 244px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 244px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1536px) and (max-width: 99999px) {
  .container {
    width: 1070px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 1070px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 350px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 350px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 350px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
