.container {
  width: 1014px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.full-width,
header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 1014px;
}
* html .full-width, * html
header {
  overflow-x: hidden;
}

.column1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 331.33333px;
}
* html .column1 {
  overflow-x: hidden;
}

.column2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 331.33333px;
}
* html .column2 {
  overflow-x: hidden;
}

.column3 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 331.33333px;
}
* html .column3 {
  overflow-x: hidden;
}

.column1, .column2, .column3 {
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    width: 310px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header,
  .column1,
  .column2,
  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 310px;
  }
  * html .full-width, * html
  header, * html
  .column1, * html
  .column2, * html
  .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 567px) {
  .container {
    width: 470px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 470px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 150px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 150px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 150px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  .container {
    width: 558px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 558px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 179.33333px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 179.33333px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 179.33333px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 758px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 758px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 246px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 246px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 246px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1280px) and (max-width: 99999px) {
  .container {
    width: 1270px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 1270px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 416.66667px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 416.66667px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 416.66667px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
