@import "blueprint";
@import "loft_compass/layout";
@import "layout_base";

// Start the declarations with mobile first
$min: grid_init(24, 10px, $mobile_p);
.container {
  @include container;
}
.full-width,
header {
  @include column($grid_columns, true);
}  
.column1 {
  @include column($grid_columns / 3);
}
.column2 {
  @include column($grid_columns / 3);
}
.column3 {
  @include column($grid_columns / 3, true);
}
.column1, .column2, .column3 {
  overflow: hidden;
} 

// Mobile Landscape
$min: grid_set_width($mobile_l);
$max: grid_media_max($mobile_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .container {
    @include container;
  }
  .full-width,
  header {
    @include column($grid_columns);
  }  
  .column1 {
    @include column($grid_columns / 3);
  }
  .column2 {
    @include column($grid_columns / 3);
  }
  .column3 {
    @include column($grid_columns / 3, true);
  }
}  

// Tablet Portrait
$min: grid_set_width($tablet_p);
$max: grid_media_max($tablet_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .container {
    @include container;
  }
  .full-width,
  header {
    @include column($grid_columns);
  }  
  .column1 {
    @include column($grid_columns / 3);
  }
  .column2 {
    @include column($grid_columns / 3);
  }
  .column3 {
    @include column($grid_columns / 3, true);
  }
}


// Mobile Portrait
$min: grid_set_width($desktop);
$max: grid_media_max($desktop);
@media only screen and (min-width: $min) and (max-width: $max) {
  .container {
    @include container;
  }
  .full-width,
  header {
    @include column($grid_columns);
  }  
  .column1 {
    @include column($grid_columns / 3);
  }
  .column2 {
    @include column($grid_columns / 3);
  }
  .column3 {
    @include column($grid_columns / 3, true);
  }
} 


// Mobile Portrait
$min: grid_set_width($widescreen);
$max: grid_media_max($widescreen);
@media only screen and (min-width: $min) and (max-width: $max) {
  .container {
    @include container;
  }
  .full-width,
  header {
    @include column($grid_columns);
  }  
  .column1 {
    @include column($grid_columns / 3);
  }
  .column2 {
    @include column($grid_columns / 3);
  }
  .column3 {
    @include column($grid_columns / 3, true);
  }
}     
