/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "blueprint";
@import "loft_compass/loft_compass";

body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1, h2, h3, h4 {
  font-family: Codystar, sans-serif;
}
h1 {
  font-weight: bold;
  @include font_size(2rem);
  margin: 30px auto;
}
nav ul {
  @include horizontal-list;
  margin: 20px
}
.red {
  color: #dd0000;
}
.viewport {
  display: none;
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  @include font_size(3rem);
}

.tiles {
  .column1, .column2, .column3 {
    height: 175px;
  }
  .column1 {
    background-color: #0080C9;
  }
  .column2 {
    background-color: #009E2D;
  }
  .column3 {
    background-color: #FECC00;
  }
}
  
.responsive-images img {
  @include responsive_img;
}