@import "compass";
@import "blueprint";
@import "loft_compass/loft_compass";
@import "loft_compass/layout";
@import "layout_base";

//
// It is only convention that the class takes it's name from the variable list
// above.  It's up to you as to how to implement.
// 
// Notice in these examples instead of using @media query, we us the 
// target_device mixin.  Compare this to all.scss
// 

.mobile-p {
  @include target_device($mobile_p) {
    display: block;
    background-color: #B44D8B;    
  }
}
.mobile-l {
  @include target_device($mobile_l) {
    display: block;
    background-color: #9157C1;      
  }
}
.tablet-p {
  @include target_device($tablet_p) {
    display: block;
    background-color: #3B69C1;    
  }
}
.desktop {
  @include target_device($desktop) {
    display: block;
    background-color: #4FB0C1;    
  }
}
.widescreen {
  @include target_device($widescreen) {
    display: block;
    background-color: #55B473;    
  }
}