@import "compass";
@import "blueprint";
@import "loft_compass/layout";

//
// In a typical implementation, you will not use all 15 possible breakpoints.
// Instead you will redefine them like the following.  Notice that you have to
// Set all breakpoints beyond those you will use to the maximum which is 9999px.

// Redefine the breakpoints
$_breakpoint1:    320px;
$_breakpoint2:    480px;
$_breakpoint3:    768px;
$_breakpoint4:    9999px;
$_breakpoint5:    9999px;
$_breakpoint6:    9999px;
$_breakpoint7:    9999px;
$_breakpoint8:    9999px;
$_breakpoint9:    9999px;
$_breakpoint10:   9999px;
$_breakpoint11:   9999px;
$_breakpoint12:   9999px;
$_breakpoint13:   9999px;
$_breakpoint14:   9999px;
$_breakpoint15:   9999px;

//
// The next step is to define the width of our design for each device that we
// intend to use.  When using the grid aspect, this becomes the outer grid
// width.
// 
// You will pass these variables as the width argument to these functions:
//   - grid_init()
//   - grid_set_width()
//   - grid_media_min()
//   - grid_media_max()

// Define the design widths for the devices we intend to use
$desktop: 960px;
$tablet_p: 768px;
$mobile_l: 480px;
$mobile_p: 320px;


// Start the declarations
$min: grid_init(24, 10px, $desktop);
.container {
  @include container;
}
.column {
  @include column($grid_columns / 3);
  $min: grid_set_width($mobile_p);
  $max: grid_media_max($mobile_p);
  @media only screen and (min-width: $min) and (max-width: $max) {
    @include column($grid_columns / 3);
  }  
  $min: grid_set_width($mobile_l);
  $max: grid_media_max($mobile_l);
  @media only screen and (min-width: $min) and (max-width: $max) {
    @include column($grid_columns / 3);
  }  
  $min: grid_set_width($tablet_p);
  $max: grid_media_max($tablet_p);
  @media only screen and (min-width: $min) and (max-width: $max) {
    @include column($grid_columns / 3);
  }    
}
.column3 {
  @include last;
}