@import "example";

//
// In a typical implementation, you will not use all 15 possible breakpoints.
// Instead you will redefine them like the following.  Notice that you have to
// Set all breakpoints beyond those you will use to the maximum which is 9999px.

// Redefine the breakpoints
$_breakpoint1:    320px;
$_breakpoint2:    480px;
$_breakpoint3:    768px;
$_breakpoint4:    9999px;
$_breakpoint5:    9999px;
$_breakpoint6:    9999px;
$_breakpoint7:    9999px;
$_breakpoint8:    9999px;
$_breakpoint9:    9999px;
$_breakpoint10:   9999px;
$_breakpoint11:   9999px;
$_breakpoint12:   9999px;
$_breakpoint13:   9999px;
$_breakpoint14:   9999px;
$_breakpoint15:   9999px;

//
// The next step is to define the width of our design for each device that we
// intend to use.  When using the grid aspect, this becomes the outer grid
// width.
// 
// You will pass these variables as the width argument to these functions:
//   - grid_init()
//   - grid_set_width()
//   - grid_media_min()
//   - grid_media_max()

// Define the design widths for the devices we intend to use
$desktop: 960px;
$tablet_p: 768px;
$mobile_l: 480px;
$mobile_p: 320px;

//
// It is only convention that the class takes it's name from the variable list
// above.  It's up to you as to how to implement.
// 

// Now make some declarations about visibility by device class
$min: grid_media_min($desktop);
$max: grid_media_max($desktop);
@media only screen and (min-width: $min) and (max-width: $max) {
  .desktop {
    display: block;
    background-color: #073A70;
  }
}

$min: grid_media_min($tablet_p);
$max: grid_media_max($tablet_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .tablet-p {
    display: block;
    background-color: #0080C9;
  }
}

$min: grid_media_min($mobile_l);
$max: grid_media_max($mobile_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .mobile-l {
    display: block;
    background-color: #88BCE2;
  }
}

$min: grid_media_min($mobile_p);
$max: grid_media_max($mobile_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .mobile-p {
    display: block;
    background-color: #C8E1C2;
  }
}