@import "loft_compass/loft";
@import "loft_compass/layout";

$base_color: #ddd;

$min: grid_media_min($desktop_xw);
$max: grid_media_max($desktop_xw);
@media only screen and (min-width: $min) and (max-width: $max) {
  .desktop-xw {
    display: block;
    background-color: shade($base_color, 5);
  }
}

$min: grid_media_min($retina_l);
$max: grid_media_max($retina_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .retina-l {
    display: block;
    background-color: shade($base_color, 10);
  }
}

$min: grid_media_min($desktop_hd);
$max: grid_media_max($desktop_hd);
@media only screen and (min-width: $min) and (max-width: $max) {
  .desktop-hd {
    display: block;
    background-color: shade($base_color, 15);
  }
}

$min: grid_media_min($retina_p);
$max: grid_media_max($retina_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .retina-p {
    display: block;
    background-color: shade($base_color, 20);
  }
}

$min: grid_media_min($desktop_w);
$max: grid_media_max($desktop_w);
@media only screen and (min-width: $min) and (max-width: $max) {
  .desktop-w {
    display: block;
    background-color: shade($base_color, 25);
  }
}

$min: grid_media_min($iphone5_l);
$max: grid_media_max($iphone5_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .iphone5-l {
    display: block;
    background-color: shade($base_color, 30);
  }
}

$min: grid_media_min($desktop);
$max: grid_media_max($desktop);
@media only screen and (min-width: $min) and (max-width: $max) {
  .desktop {
    display: block;
    background-color: shade($base_color, 35);
  }
}

$min: grid_media_min($iphone4_l);
$max: grid_media_max($iphone4_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .iphone4-l {
    display: block;
    background-color: shade($base_color, 40);
  }
}

$min: grid_media_min($tablet_p);
$max: grid_media_max($tablet_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .tablet-p {
    display: block;
    background-color: shade($base_color, 45);
  }
}

$min: grid_media_min($tablet_10);
$max: grid_media_max($tablet_10);
@media only screen and (min-width: $min) and (max-width: $max) {
  .tablet-10 {
    display: block;
    background-color: shade($base_color, 50);
  }
}

$min: grid_media_min($iphone_p);
$max: grid_media_max($iphone_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .iphone-p {
    display: block;
    background-color: shade($base_color, 55);
  }
}

$min: grid_media_min($tablet_7);
$max: grid_media_max($tablet_7);
@media only screen and (min-width: $min) and (max-width: $max) {
  .tablet-7 {
    display: block;
    background-color: shade($base_color, 60);
  }
}

$min: grid_media_min($mobile_l);
$max: grid_media_max($mobile_l);
@media only screen and (min-width: $min) and (max-width: $max) {
  .mobile-l {
    display: block;
    background-color: shade($base_color, 65);
  }
}

$min: grid_media_min($mobile_p);
$max: grid_media_max($mobile_p);
@media only screen and (min-width: $min) and (max-width: $max) {
  .mobile-p {
    display: block;
    background-color: shade($base_color, 70);
  }
}

$min: grid_media_min($mini);
$max: grid_media_max($mini);
@media only screen and (min-width: $min) and (max-width: $max) {
  .mini {
    display: block;
    background-color: shade($base_color, 75);
  }
}
