@import "compass";
@import "blueprint";
@import "loft_compass/loft_compass";
@import "loft_compass/layout";
@import "layout_base";

//
// It is only convention that the class takes it's name from the variable list
// above.  It's up to you as to how to implement.
// 
// Notice in these examples instead of using @media query, we us the 
// target_device mixin.  Compare this to all.scss
// 
.desktop {
  @include target_device($desktop) {
    display: block;
    background-color: #073A70;    
  }
}
.tablet-p {
  @include target_device($tablet_p) {
    display: block;
    background-color: #0080C9;    
  }
}
.mobile-l {
  @include target_device($mobile_l) {
    display: block;
    background-color: #88BCE2;      
  }
}
.mobile-p {
  @include target_device($mobile_p) {
    display: block;
    background-color: #C8E1C2;    
  }
}