/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Output font-size (and line-height) in rem with px fallback
 *
 * @param $size
 *   rem and px: will be converted to rem with px fallback
 *   % and em will pass through without conversion
 * @param $line_height
 *   Optional, behaves same as $size
 */
/**
 * Convert rem to pixels
 *
 * @param mixed $rem
 *
 * @return mixed
 */
body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-family: Codystar, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
  margin: 30px auto;
}

nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 20px;
}
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
nav ul li:first-child, nav ul li.first {
  padding-left: 0;
}
nav ul li:last-child {
  padding-right: 0;
}
nav ul li.last {
  padding-right: 0;
}

.red {
  color: #dd0000;
}

.viewport {
  display: none;
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  font-size: 48px;
  font-size: 3rem;
}

.column1, .column2, .column3 {
  height: 175px;
}

.column1 {
  background-color: #0080C9;
}

.column2 {
  background-color: #009E2D;
}

.column3 {
  background-color: #FECC00;
}

.responsive-images img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
