@media only screen and (max-width: 479px) {
  .mobile-p {
    display: block;
    background-color: #B44D8B;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-l {
    display: block;
    background-color: #9157C1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet-p {
    display: block;
    background-color: #3B69C1;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1535px) {
  .desktop {
    display: block;
    background-color: #4FB0C1;
  }
}

@media only screen and (min-width: 1536px) {
  .widescreen {
    display: block;
    background-color: #55B473;
  }
}
