@import url(blueprint/layout.css);
@import url(blueprint/layout.css);
/**
 * Output font-size (and line-height) in rem with px fallback
 *
 * @param $size
 *   rem and px: will be converted to rem with px fallback
 *   % and em will pass through without conversion
 * @param $line_height
 *   Optional, behaves same as $size
 */
/**
 * Convert rem to pixels
 *
 * @param mixed $rem
 *
 * @return mixed
 */
@media only screen and (min-width: 960px) and (max-width: 99999px) {
  .desktop {
    display: block;
    background-color: #073A70;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .tablet-p {
    display: block;
    background-color: #0080C9;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-l {
    display: block;
    background-color: #88BCE2;
  }
}

@media only screen and (max-width: 479px) {
  .mobile-p {
    display: block;
    background-color: #C8E1C2;
  }
}

.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.full-width,
header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
* html .full-width, * html
header {
  overflow-x: hidden;
}

.column1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html .column1 {
  overflow-x: hidden;
}

.column2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html .column2 {
  overflow-x: hidden;
}

.column3 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
* html .column3 {
  overflow-x: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    width: 302px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 302px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 94px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 94px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 94px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 464px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 464px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 148px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 148px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 148px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 752px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  .full-width,
  header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 752px;
  }
  * html .full-width, * html
  header {
    overflow-x: hidden;
  }

  .column1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 244px;
  }
  * html .column1 {
    overflow-x: hidden;
  }

  .column2 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 244px;
  }
  * html .column2 {
    overflow-x: hidden;
  }

  .column3 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 244px;
  }
  * html .column3 {
    overflow-x: hidden;
  }
}
