@media only screen and (min-width: 960px) and (max-width: 99999px) {
  .desktop {
    display: block;
    background-color: #073A70;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .tablet-p {
    display: block;
    background-color: #0080C9;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-l {
    display: block;
    background-color: #88BCE2;
  }
}

@media only screen and (max-width: 479px) {
  .mobile-p {
    display: block;
    background-color: #C8E1C2;
  }
}
